.custom-button {
    width: 70%;
    height: 2rem;
    background-color: #1b7be2;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 12pt;
}

.success {
    @extend .custom-button;
    background-color: #3ac461;
}

.error {
    @extend .custom-button;
    background-color: #ea3535;
}
